body {
  border: 1px solid lightblue;
  border-radius: 20px;
  margin: 0 12%;
  padding: 3% 5%;
}

.header {
  display: flex;
  justify-content: space-around;
}

#name {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 225px;
  max-width: 400px;
}

#contact-info ul {
  list-style: none;
  padding-right: 52px;
  padding-top: 20px;
  font-size: 13px;
}

.main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.main h5 {
  color: rgb(0, 89, 255);
}

.sup-text {
  font-size: 18px;
}

.sub-text {
  font-size: 13px;
  margin-top: -11px;
  color: #606060c9;
}

.sub-text-x {
  font-size: 14px;
  margin-top: -5px;
  color: #606060c9;
}

.left-box {
  margin-top: 70px;
}

.right-box {
  margin-top: 84px;
  padding-right: 90px;
}

#right-sup-box {
  padding-right: 90px;
}

#right-sup-box ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  color: #606060c9;
}

#right-sup-box ul li {
  margin-top: 5px;
}

.right-box ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  color: #606060c9;
}

.right-box ul li {
  margin-top: 17px;
}

@media screen and (max-width: 768px) {
  body {
    border: 1px solid lightblue;
    border-radius: 20px;
    margin: 0 auto;
    padding: 3% 5%;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
  }
  
  #name {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    padding-right: 10px;
    max-width: 300px;
  }
  
  #contact-info ul {
    list-style: none;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 10px;
  }
  
  .main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .main h5 {
    color: rgb(0, 89, 255);
  }
  
  .sup-text {
    font-size: 14px;
  }
  
  .sub-text {
    font-size: 10px;
    margin-top: -11px;
    color: #606060c9;
  }
  
  .sub-text-x {
    font-size: 11px;
    margin-top: -5px;
    color: #606060c9;
  }
  
  br {
  display: none;
}

  .left-box {
    margin-top: 40px;
  }
  
  .right-box {
    margin-top: 40px;
    padding-right: 45px;
  }
  
  #right-sup-box {
    padding-right: 45px;
  }
  
  #right-sup-box ul {
    list-style: none;
    padding-left: 0;
    font-size: 11px;
    color: #606060c9;
  }
  
  #right-sup-box ul li {
    margin-top: 5px;
  }
  
  .right-box ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    color: #606060c9;
  }
  
  .right-box ul li {
    margin-top: 10px;
  }
}